<!DOCTYPE html>
<html>
<head>
  <title>Dragons Email List</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Dragons Email</a>
      </div>
    </div>

    <!--<div class="collapse navbar-collapse">-->
      <!--<ul class="nav navbar-nav">-->
        <!--<li class="Active"><a href="#">Link</a></li>-->
      <!--</ul>-->
    <!--</div>-->
</nav>

<div class="container">
    <%= yield %>
</div>

</body>
</html>
